{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", 120],
    "class-methods-use-this": ["error", { "exceptMethods": ["stopPropagation", "stopImmediatePropagation"] }],
    "consistent-return": 0,
    "prefer-rest-params": 0,
    "no-param-reassign": 0,
    "comma-dangle": ["error", "never"],
    "arrow-parens": 0,
    "object-curly-newline": ["error", { "consistent": true }],
    "function-paren-newline": ["error", "consistent" ],
    "prefer-destructuring": 0
  }
}
